.cabecera__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecera__buscar__item{
    display: none;
}

/*haciendo mobile first*/
/*Menú lateral*/
.menu__container{
    position: fixed; /*hacemos que la posicion del menu sea fija*/
    bottom: 0%; /*como trabajamos primero trabajamos con mobile, el menu se ubica abajo*/
    height: 75px; /*reducimos la altura al 75%*/
    width: 100%; /*hacemos que el ancho del menu ocupe el 100%*/
}

/*Los elementos dentro del menu lateral*/
.menu__lista{
    display: flex;
    justify-content: space-around; /*asignando espacio entre los elementos de la lista(menu)*/
    height: 100%;
}

/*vamos a trabajar con los alineamientos de los elementos dentro de los li*/
.menu__lista li{
    align-self: center;
}

/*poniendo a los iconos arriba de los titulos*/
.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*revisar esta parte, no la entendi bien :v (aula 3 video 2)*/
.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}


/*Sección Superior*/ 
/*es la barra donde están los tipos de videos*/
.superior__seccion__container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll; /*para agregarle un scroll (la barrita para mover)*/
    gap: 15px; /*asignando espacio entre los elementos*/
    /*Comentario:*/
    /*Es posible aplicar espaciado entre elementos con una propiedad de Flexbox llamada gap,
     pero para agruparlos aprovechando todo el ancho del contenedor en el que están insertados,
      la mejor opción es la propiedad justify-content*/
}

.rodapie__container{
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/
    flex-flow: column wrap;
}

@media (min-width: 834px){
    /*Cabecera*/
    .cabecera__buscar__item{
        display: block;
    }

    /*Rodapie*/
    .rodapie__container{
        justify-content: space-between;
    }
}
